[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorist"]
	path = colorist
	url = https://github.com/mstrimas/colorist
[submodule "smoothr"]
	path = smoothr
	url = https://github.com/mstrimas/smoothr
